{% load i18n %}
<form action="{% url 'cm_subscribe' %}" method="post" id="cm_form">
	{% csrf_token %}
	{% for field in form %}

		{% if field.is_hidden %}
			{{field}}
		{% else %}
			<div class="form-group">
				{{field.label_tag}}
				{{field}}
			</div>
		{% endif %}
	
  	{% endfor %}
	<input type="submit" class="btn btn-success" value="{% trans "Subscribe" %}" id="submitbtn">
</form>